---
import {serverURL} from "../pages/conf.js";

let sessionId = Astro.cookies.get('sessionId').value;
console.log('List Session ID:', sessionId);

const response = await fetch(`${serverURL}/boards/get`, {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({sessionId: sessionId})
});

const {data: boards} = await response.json();
---

<header class="header">
    <div class="left">
        <h1><a href="/" style="color: whitesmoke; text-decoration: none "><i class="fa-brands fa-space-awesome"></i> TaskRonaut</a></h1>

        <div x-data="{ open: false }">
            <button class="board-header-buttons" @click="open = !open">
                Boards <i class="fa-solid fa-caret-down"></i>
            </button>
            <div x-show="open" @click.away="open = false" class="dropdown">
                <ul>
                    {boards.flat().map(board => (
                            <li>{board.boardName}</li>
                    ))}
                </ul>
            </div>
        </div>
        <button class="board-header-buttons">Erstellen +</button>
    </div>

    <div>
        <input type="checkbox" id="toggle" class="toggleCheckbox" @click="showProjectBoard = !showProjectBoard"/>
        <label for="toggle" class='toggleContainer'>
            <div>Projekt-Strukturplan</div>
            <div>Task-Board</div>
        </label>
    </div>
</header>