---
const {boards} = Astro.props;

import {serverURL} from '../pages/conf.js';
---

<div class="header">

    <div class="boards-overview" x-data="boardCreation">


        <div class="left">


            <h1>
                <a href="/" style="color: whitesmoke; text-decoration: none ">
                    <i class="fa-brands fa-space-awesome"></i>
                    TaskRonaut
                </a>
            </h1>


            <div x-data="{ open: false }">
                <button class="board-header-buttons" @click="open = !open">
                    Boards <i class="fa-solid fa-caret-down"></i>
                </button>
                <div x-show="open" @click.away="open = false" class="dropdown" x-cloak>
                    <ul>
                        <a href="/boards">
                            <li class="all-boards-button">
                                Alle Boards
                            </li>
                        </a>
                    </ul>
                    <ul>
                        {boards?.flat().map(board => (<a href={`?boardId=${board.boardID}`}>
                            <li class="specific-boards-button">{board.boardName}</li>
                        </a>))}
                    </ul>
                </div>
            </div>


            <div class="creation-flow">
                <!-- Header Input -->
                <template x-if="!showHeaderInput">
                    <button @click="showHeaderInput = true" class=" board-header-buttons">
                        <i class="fas fa-plus"></i> Board erstellen
                    </button>
                </template>

                <template x-if="showHeaderInput">
                    <div class="input-group">
                        <input
                                type="text"
                                x-model="boardName"
                                @keyup.enter="createBoard()"
                                placeholder="Board name"
                                class="board-input"
                                autofocus
                        />
                        <button @click="createBoard()" class="submit-board-button">
                            Create
                        </button>
                        <button @click="showHeaderInput = false; boardName = ''"
                                class="cancel-btn">
                            Cancel
                        </button>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
