---
const { boards } = Astro.props;

import { serverURL } from '../pages/conf.js';

---

<header class="header">
    <div class="left">
        <h1>
            <a href="/" style="color: whitesmoke; text-decoration: none ">
                <i class="fa-brands fa-space-awesome"></i>
                TaskRonaut
            </a>
        </h1>

        <div x-data="{ open: false }">
            <button class="board-header-buttons" @click="open = !open">
                Boards <i class="fa-solid fa-caret-down"></i>
            </button>
            <div x-show="open" @click.away="open = false" class="dropdown">
                <ul>
                    {boards?.flat().map(board => (
                            <a href={`?boardId=${board.boardID}`}>
                                <li>{board.boardName}</li>
                            </a>
                    ))}
                </ul>
            </div>
        </div>

        <!-- TODO board wird erstellt aber bekommt keine rechte dazu -->
        <div x-data="{ showForm: false, boardName: '' }">
            <button class="board-header-buttons" @click="showForm = !showForm">Erstellen +</button>

            <form x-show="showForm" x-transition hx-post={`${serverURL}/boards`} hx-swap="none">
                <input
                        type="text"
                        name="boardName"
                        placeholder="Board Name"
                        x-model="boardName"
                        class="board-name-input"
                />
                <button class="submit-board-button" type="submit" @click="showForm = false">
                    Create Board
                </button>
                <button class="cancel-board-button" type="button" @click="showForm = false">
                    &#10006
                </button>
            </form>
        </div>

    </div>

</header>