---
import {serverURL} from "../pages/conf.js";
---

<div class="ptp" style="display: block">
    <button class="close" style="right: 0; top: 0" @click="showComponent = false">X</button>
    <div id="messages" hx-get=`${serverURL}/get-messages` hx-trigger="load" class="ptp-messages"></div>
    <form hx-post=`${serverURL}/add-messages` hx-target="#messages" hx-swap="innerHTML" hx-ext="json-enc"
          class="ptp-input">
        <input type="text" name="message" placeholder="Schreibe eine Nachricht...">
        <button type="submit">Senden</button>
    </form>

</div>
