---
import { serverURL } from "../pages/conf";
---
<header class="header" x-data=`{
    user: sessionStorage.getItem('user') ? JSON.parse(sessionStorage.getItem('user')) : null,
    userDropdownOpen: false,
    logout() {
        fetch("${serverURL}/authentication/logout", {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ user: this.user })
        })
        .then(response => response.json())
        .then(data => {
            // Optionally handle the response data here
        })
        .catch(error => {
            console.error('Error logging out:', error);
        });
        sessionStorage.removeItem('user');
        window.location.href = '/login';
    }
}`>
    <div class="left">
        <h1>
            <a href="/" style="color: whitesmoke; text-decoration: none">
                <i class="fa-brands fa-space-awesome"></i> TaskRonaut
            </a>
        </h1>
        <a id="boards-button"
           hx-post="/boards"
           hx-push-url="/boards"
           hx-swap="outerHTML"
           hx-target=".start-content"
           style="color: whitesmoke; font-size: x-large; padding-left: 10px; text-decoration: none;"
           x-show="user"
           x-cloak
           class="board-header-buttons">
            Zu deinen Boards
        </a>
    </div>
    <div class="right">
        <!-- Shown when no user is logged in -->
        <div id="auth-buttons" x-show="!user" >
            <button hx-push-url="login" hx-get="/login" hx-target="#login-register-container" hx-swap="beforeend"
                    aria-label="Einloggen" class="login-register-button">
                Einloggen
            </button>
            <button hx-push-url="register" hx-get="/register" hx-target="#login-register-container" hx-swap="beforeend"
                    aria-label="Registrieren" class="login-register-button">
                Registrieren
            </button>
        </div>
        <!-- Shown when a user is logged in -->
        <div id="profile-button" class="profile-button" x-show="user" x-cloak>
            <div @click="userDropdownOpen = !userDropdownOpen" style="display: flex; align-items: center; cursor: pointer;">
                <svg viewBox="0 0 344 384" height="26.72" width="24" class="user-icon">
                    <path d="M170.5 192q-35.5 0-60.5-25t-25-60.5T110 46t60.5-25T231 46t25 60.5t-25 60.5t-60.5 25zm0 43q31.5 0 69.5 9t69.5 29.5T341 320v43H0v-43q0-26 31.5-46.5T101 244t69.5-9z" fill="#ffffff"></path>
                </svg>
                <span id="username" x-text="`${user.firstName} ${user.lastName}`" style="margin-left: 0.5em;"></span>
            </div>
            <div id="user-dropdown" class="user-dropdown" x-show="userDropdownOpen" @click.away="userDropdownOpen = false" x-transition>
                <button @click="logout">Ausloggen</button>
            </div>
        </div>
    </div>
</header>
