---

---
<div>
    <script>
        import { userId, sessionId } from "../../pages/user";
        console.log("sssssssssssss: "+sessionId)
        document.addEventListener("DOMContentLoaded", () => {

            const targetDiv = document.querySelector("#response");

            targetDiv.setAttribute("hx-get", `http://localhost:3001/tasks/user/${sessionId}`);
        });
    </script>


    <div
            id="response"
            hx-trigger="load"
            hx-swap="innerHTML">
    </div>
</div>