---
import List from "./projectList.astro";
---

<section>
    <ul class="board-header">
        <li><h1>Board-Name</h1></li>
        <li><p>Projekt-Strukturplan</p></li>
    </ul>
    <div class="board-content">
        <List></List>
    </div>
</section>
