---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro HTMX Login Example</title>
</head>
<body>
<script>
    import 'htmx.org';
    import Alpine from 'alpinejs';

    Alpine.start();
</script>
<div class="confirm-email-container" style="padding: 10px;">
    <div class="confirm-email" id="confirm-email-container">
        <div x-data="{ email: '' }" x-init="email = localStorage.getItem('userEmail')">
            <h2>Bestätigen Sie Ihre E-Mail</h2>
            <p>Vielen Dank für Ihre Registrierung!</p>
            <p>Eine Bestätigungs-E-Mail wurde an <strong><span x-text="email"></span></strong> gesendet.</p>
        </div>
        <p>Bitte öffnen Sie Ihr Postfach und klicken Sie auf den Bestätigungslink, um Ihre Registrierung
            abzuschließen.</p>

        <div id="resend-response"></div>
    </div>
</div>
</body>
</html>