---

let sessionId = Astro.cookies.get('sessionId');
console.log('Session ID:', sessionId);

---
<!DOCTYPE html>
<html>
<head>
    <title>Getting Cookies</title>
</head>
<body style="background-color: #18191b">
<div>
    <p style="color: whitesmoke">Session ID: <span id="sessionIdDisplay"></span></p>

    <script>
        // Client-side JavaScript
        const sessionId = sessionStorage.getItem('sessionID');
        if (sessionId) {
            // Update the DOM with the session ID
            document.getElementById('sessionIdDisplay').textContent = sessionId;

            // Set the sessionId in a cookie
            document.cookie = `sessionId=${sessionId}; path=/; max-age=86400`; // 1 tag
        } else {
            document.getElementById('sessionIdDisplay').textContent = "No session ID found";
        }
        window.location.href = '/boards'
    </script>
</div>
</body>
</html>